<!DOCTYPE html>
<html>
  <head>
<title>Karti Robot</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/w3.css">
<link rel="stylesheet" href="css/a.css">
<link rel="stylesheet" href="css/fontawesome-all.min.css">
<script src="js/wsConn.js"></script>
<script src="js/s.js"></script>
<!---- joystick -->
  <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
  <script type="text/javascript" src="js/underscore-min.js"></script>
  <script type="text/javascript" src="js/backbone-min.js"></script>
  <script type="text/javascript" src="js/joystick_view.js"></script>
<!---- joystick -->

<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 20px;background: #222;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 20px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
a:hover {
    color:tan;
}
</style>

</head>
<body class="w3-black">


<!-- Page Content -->
<div class="w3-padding-large" id="main">
  <!-- Header/Home -->
  <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
  <h2 class="w3-jumbo"><span class="w3-hide-small">Karti</span></h2><i>ścieżko-poszukiwacz, czyli robot Szyma :)</i>
  </header>

  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="divLFtyt">
      <h3 class="w3-text-light-grey">Centrum dowodzenia</h3>
      <hr style="width:200px" class="w3-opacity">
      <button type="button" class="collapsible">Ustawienia parametrów</button>
      <div class="content">
          <div class="w3-row w3-center">
              <div class="w3-quarter w3-section">
                  <span>PID współczynnik P</span>
                <h4>Kp=<span id="divLFtytKp">23</span></h4>
              </div>
              <div class="w3-third w3-section">
                  <button type="submit" class="button " id="buttKpPlus" onclick="sendStan(buttKpPlus)">
                              <i class="fa fa-plus fa-2x" style="color:green"></i></button>
                  <button type="submit" class="button button3" id="buttKpMinus" onclick="sendStan(buttKpMinus)">
                      <i class="fa fa-minus fa-2x" style="color:darkred"></i></button>
               
              </div>
              <div class="w3-rest w3-section">
                <div class="w3-container">
                  <div class="w3-cell-row">
                    <div class="w3-cell-middle">
                      Podaj wartość:  
                      <input id="inpKp" class="w3-input" style="width:95%" placeholder="Podaj Kp" type="number" min="0" max="30" step="0.1" value ="5"/>
                    </div>
                    <div class="w3-cell">
                        <button type="submit" class="button " id="buttKpSend" onclick="sendStan(buttKpSend)">
                        <i class="fa fa-paper-plane fa-2x" style="color:green" id="bi"></i></button>
                    </div>
                  </div>  
                </div>    
              </div>
          </div>

          <div class="w3-row w3-center">
              <div class="w3-quarter w3-section">
                <span>PID współczynnik D</span>
                <h4>Kd= <span id="divLFtytKd">33</span></h4>
              </div>
              <div class="w3-third w3-section">
                  <button type="submit" class="button " id="buttKdPlus" onclick="sendStan(buttKdPlus)">
                              <i class="fa fa-plus fa-2x" style="color:green"></i></button>
                  <button type="submit" class="button button3" id="buttKdMinus" onclick="sendStan(buttKdMinus)">
                      <i class="fa fa-minus fa-2x" style="color:darkred"></i></button>
               
              </div>
              <div class="w3-rest w3-section">
                <div class="w3-container">
                  <div class="w3-cell-row">
                    <div class="w3-cell-middle">
                      Podaj wartość:  
                      <input id="inpKd" class="w3-input" style="width:95%" placeholder="Podaj Kd" type="number" min="0" max="30" step="0.1" value ="5"/>
                    </div>
                    <div class="w3-cell">
                        <button type="submit" class="button " id="buttKdSend" onclick="sendStan(buttKdSend)">
                        <i class="fa fa-paper-plane fa-2x" style="color:green"></i></button>
                    </div>
                  </div>  
                </div>    
              </div>
          </div>

          <div class="w3-row w3-center">
              <div class="w3-quarter w3-section">
                <span>Prędkość maksymalna</span>
                <h4>Vmax= <span id="divLFtytVm">1003</span></h4>
              </div>
              <div class="w3-third w3-section">
                  <button type="submit" class="button " id="buttVmPlus" onclick="sendStan(buttVmPlus)">
                              <i class="fa fa-plus fa-2x" style="color:green"></i></button>
                  <button type="submit" class="button button3" id="buttVmMinus" onclick="sendStan(buttVmMinus)">
                      <i class="fa fa-minus fa-2x" style="color:darkred"></i></button>
               
              </div>
              <div class="w3-rest w3-section">
                <div class="w3-container">
                  <div class="w3-cell-row">
                    <div class="w3-cell-middle">
                      Podaj wartość:  
                      <input id="inpVm" class="w3-input" style="width:95%" placeholder="Podaj Vmax" type="number" min="0" max="1024" step="10" value ="400"/>
                    </div>
                    <div class="w3-cell">
                        <button type="submit" class="button " id="buttVmSend" onclick="sendStan(buttVmSend)">
                        <i class="fa fa-paper-plane fa-2x" style="color:green"></i></button>
                    </div>
                  </div>  
                </div>    
              </div>
          </div>
      </div>

      <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;
        
        for (i = 0; i < coll.length; i++) {
          coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight){
              content.style.maxHeight = null;
            } else {
              content.style.maxHeight = content.scrollHeight + "px";
            } 
          });
        }
        </script>

    <div class="w3-row w3-center w3-padding-16 w3-section w3-light-grey" id="divLF">
        <div class="w3-row w3-center">
      <div class="w3-quarter w3-section">Kp: <span id="divLFKp">32.0</span>; Kd: <span id="divLFKd">14.0</span>; 
          Vmax: <span id="divLFVm2">1024</span>; 
         
      </div>
      <div class="w3-threequarter w3-section">
          <input type="range" min="0" max="1024" value="512" class="slider" id="divLTPosRange" disabled="disabled">
          <div>Pozycja: <span id="divLFpoz">123</span> </div>

        </div>
      </div>
      <div class="w3-row w3-center">
        <div class="w3-quarter w3-section">
          <table>
              <tr><td>Pozycja: </td><td><span id="divLFpoz2">0000</span></td></tr>
              <tr><td>lastErr: </td><td><span id="divLFLE">1111</span></td></tr>
              <tr><td>Err: </td><td><span id="divLFEr">2222</span></td></tr>
              <tr><td>&Delta;P: </td><td><span id="divLFdp">3333</span></td></tr>
              <tr><td>&Delta;D: </td><td><span id="divLFdd">4444</span></td></tr>
              <tr><td>speedDiff: </td><td><span id="divLFsd">5555</span></td></tr>
              <tr><td>Lewy: </td><td><span id="divLFL">6666</span></td></tr>
              <tr><td>Prawy: </td><td><span id="divLFP">7777</span></td></tr>
              <tr><td>LoopTime: </td><td><span id="divLFLT">888</span> ms</td></tr>
          </table>
        </div>
        <div class="w3-quarter w3-section">
          <div>Lewy: <span id="divLFL2"> 1234</span></div>
          <br><br><br>
          <div class="containerPB" style="margin-left: 0px;">
          
            <input id="divLFLslider" oninput="sendStan(divLFLslider)" class="range vertical-heighest-first round" type="range" min="-1024" max="1024" step="1" value="0" >
            
          </div>
        
        </div>
        <div class="w3-quarter w3-section">
          <br><br><br><br>
            <div class="" style="background-color: brown; height: 100px;" >
              <br>  
              <div><i id="arrowSD" class="fa fa-arrow-up fa-2x"></i><BR>
                Kierunek: <span id="divLFsd2"> 1234</span></div>
              

            </div>
        </div>
        <div class="w3-quarter w3-section">
          <div>Prawy: <span id="divLFP2"> 1234</span></div>
          <br><br><br>
          <div class="containerPB w3-section" style="margin-left: 0px">  
            <input id="divLFPslider" oninput="sendStan(divLFPslider)" class="range vertical-heighest-first round" type="range" min="-1024" max="1024" step="1" value="0" >
          </div>
        </div>
      </div>
      <div class="w3-row w3-center">
          <div class="w3-quarter w3-cell-middle w3-section">
            <button type="submit" class="button " id="buttStartStop" onclick="sendStan(buttStartStop)">
                <i id="faStartStop" class="fa fa-play fa-4x" style="color:green"></i></button>
          </div>
          <div class="w3-rest w3-section">
              <!--joystick-->
              <script type="text/html" id="joystick-view">
                <canvas id="joystickCanvas" width="<%= squareSize %>" height="<%= squareSize %>" style="width: <%= squareSize %>px; height: <%= squareSize %>px;">
                    </canvas>
                </script>
            
                <div id="joystickContent">
                </div>
                <div>
                    x: <span id="xVal"></span><br/>
                    y: <span id="yVal"></span><br/>
                </div>
            
                <!--
                <script type="text/javascript">
                    $(document).ready(function(){
                        var joystickView = new JoystickView(200, function(callbackView){
                            $("#joystickContent").append(callbackView.render().el);
                            setTimeout(function(){
                                callbackView.renderSprite();
                            }, 0);
                        });
                        joystickView.bind("verticalMove", function(y){
                            $("#yVal").html(y);
                           $.getScript("s.js",function(){ joyChg(x,y);});
                        });
                        joystickView.bind("horizontalMove", function(x){
                            $("#xVal").html(x);
                            $.getScript("s.js",function(){ joyChg(x,y);});
                        });
                    });
                </script> -->
              <!--joystick-->
          </div>
      </div>
    </div>
  </div>
       
      <div class="footer" style="text-align: left;">
          <span class="fa fa-plug" style="color:darkred" id="plugm"></span>  <span id="footerTxt">Footer</span>
      </div>
         
      